body{
    background-image:  url(img/maxresdefault.jpg);
}
.menu-item a {
    text-decoration:none ;
    color: white;
}
.menu-list .menu-item {
     display: flex;
     flex-direction: column;
     list-style-type: none ; 
    width: 100px;
    height: 50px;
    box-shadow: 0 3px 6px;
    background-color: rgb(59, 54, 54);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    
}
.menu-item{
    margin-top: 15px; 
    
    font-weight: bold; 
    
    margin-top: 9px;
    color: white;
}
.text{
    max-width: 400px;
    margin-left: 800px;
    margin-top: 100px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.go a {
     border-radius: 10px;
    background-color: rgb(61, 18, 129);
    padding: 40px 70px;
    color: white;
    list-style-type: none ;
    text-decoration:none ;
    font-size: 50px;
    margin-left: 70px;
    
    
   
}